<html>
    <body bgcolor="#FFFFFF">
	<ul class="category_tree">
	    <li class=" item level-2">
		<a title="Open Stand Space" href="/exhibition-space?page=shop.browse&amp;category_id=3">Open Stand Space</a>
	    </li>
	    <li class=" item level-2"> <a title="Pavillion, Flooring and Carpet" href="/exhibition-space?page=shop.browse&amp;category_id=16">Pavillion, Flooring and Carpet</a>
	    </li>
	    <li class=" item level-2"> <a title="Craft and Food Marquee" href="/exhibition-space?page=shop.browse&amp;category_id=17">Craft and Food Marquee</a>
	    </li>
	    <li class=" item level-2"> <a title="Furniture Hire" href="/exhibition-space?page=shop.browse&amp;category_id=12">Furniture Hire</a>
	    </li>
	    <li class=" item level-2"> <a title="Tickets and Passes" href="/exhibition-space?page=shop.browse&amp;category_id=13">Tickets and Passes</a>
	    </li>
	    <li class=" item level-2"> <a title="Toilet Hire" href="/exhibition-space?page=shop.browse&amp;category_id=18">Toilet Hire</a>
	    </li>
	    <li class=" item level-2"> <a title="Power Supply" href="/exhibition-space?page=shop.browse&amp;category_id=11">Power Supply</a>
	    </li>
	    <li class=" item level-2"> <a title="Security" href="/exhibition-space?page=shop.browse&amp;category_id=10">Security</a>
	    </li>
	    <li class=" item level-2"> <a title="Programme Advertising" href="/exhibition-space?page=shop.browse&amp;category_id=14">Programme Advertising</a>
	    </li>
	    <li class=" item level-2"> <a title="Promotional Opportunities" href="/exhibition-space?page=shop.browse&amp;category_id=15">Promotional Opportunities</a>
	    </li>
	</ul> </li> </ul> </li> </ul>
</body>
</html>